doctype html
html
  head
    meta(charset="utf-8")
    title demo
    script(src="{$jsDest}/vendors.js")

  body
    // + body here
    img.just-img(src=require('./images/logo.png'))
    div.w-demo
      i#logo.w-demo-logo
      div.w-demo-tl hello demo
    // - body here

