/* var
 * -------------------------- */
$psdWidth: 640!default; //rem 
$cssjsdate: 201511061220!default;


/* mixin
 * -------------------------- */
@function rem($val){
    @return round($val / $psdWidth * 10 * 100) / 100 * 1rem;

}

@function multiStr($str, $n){
    @if type-of($str) == 'number' {
        @return $str * $n;
    }

    @if type-of($str) == 'list' {
        $newList: ();
        @each $item in $str {
            $newList: append($newList, multiStr($item, $n));
        }
        @return $newList;
    }

    @return $str;
}

@mixin dpr ($key, $val) {
    $scale: 750 / $psdWidth;
    
    [data-dpr="3"] & { // iphone 6 plus
        #{$key}: multiStr($val, 1.5 * $scale);
    }
    [data-dpr="2.5"] & {
        #{$key}: multiStr($val,1.25 * $scale);
    }
    [data-dpr="2"] & { // iphone 5, 6
        #{$key}: multiStr($val,1 * $scale);
    }
    [data-dpr="1.5"] & { // ÈýÐÇ i9100
        #{$key}: multiStr($val,0.75 * $scale);
    }
    [data-dpr="1"] & {
        #{$key}: multiStr($val,0.5 * $scale);
    }

    #{$key}: multiStr($val, 0.5 * $scale);
}

@mixin attr2all($cssAttr, $val...){
    -webkit-#{$cssAttr}: $val;
            #{$cssAttr}: $val;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}


@mixin imgBkgd($url:none, $color: transparent, $pos: center, $rept: no-repeat, $size: cover){
	background: $color url('../images/' + $url + '?' + $cssjsdate) $pos $rept;
	background-size: $size;
}

@mixin imgBkgd-b64($url, $color: transparent, $pos: center, $rept: no-repeat, $size: cover){
	background: $color inline-image('../images/base64/' + $url) $pos $rept;
	background-size: $size;
	-webkit-background-size: $size;
}


@mixin autoSize($key, $value, $viewWidth: 320){
    #{$key}: #{$value}px;
    #{$key}: #{$value / $viewWidth * 100vw};
}

$mqViewports: 320px 360px 375px 414px 480px;
@mixin mediaQuery($viewport) {
    @media only screen and (min-width: $viewport) {
        @content;
    }
    @media only screen and (min-width: $viewport) and (min-device-width: $viewport){
        @content;
    }
}

@mixin borderWithDecimal($cssPx, $scale, $color, $side){
    position: relative;
    .border-#{$side}{
        position: absolute;
        #{$side}: 0;
        @if $side == 'left' or $side == 'right'{
            top: 0;
            bottom: 0;
            height: 100%;
            width: $cssPx;
            -webkit-transform: scaleX($scale);
        }
        @if $side == 'top' or $side == 'bottom'{
            left: 0;
            right: 0;
            height: $cssPx;
            width: 100%;
            -webkit-transform: scaleY($scale);
        }
        background-color: $color;
    }
}

%avoid_spacing{
    font-size: 0;
    letter-spacing: -4px;
}

%resume_avoid_spacing{
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
}

%fixed_width_content{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

%fixed_width_multiLine_content{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow : hidden;
}
