html {
  -webkit-text-size-adjust: none; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, a {
  font-size: 100%; }

ul, ol, li {
  list-style: none; }

table {
  border-collapse: collapse;
  border-style: none; }

button {
  border: 0 none;
  padding: 0;
  cursor: pointer; }

img {
  border: 0; }

input, select, img {
  vertical-align: middle; }

textarea {
  resize: vertical; }

a {
  outline: 0;
  text-decoration: none; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden; }

.clearfix, .cf {
  zoom: 1; }
  .clearfix:after, .cf:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

body {
  font: 12px/1.5 Microsoft Yahei, simsun,Tahoma,Helvetica,Arial,SimHei,sans-serif;
  min-width: 960px;
  background: #f0f0f0; }
  body a {
    color: #333; }
  body a:hover {
    color: #333;
    text-decoration: none; }

.wrapper {
  padding-bottom: 70px; }
  .wrapper h3 {
    font-weight: normal; }

.w-demo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -151px 0 0 -151px;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  padding: 50px;
  background: #fff;
  border-radius: 10px; }

.w-demo-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 150px;
  height: 116px;
  margin: -58px 0 0 -75px;
  background: url("../../../../../../public/plugin/pc/r-demo/images/logo.png?201609201140") no-repeat;
  -webkit-transition: 400ms; }

.w-demo-tl {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px; }

.w-demo-logo-0 {
  -webkit-transform: rotate(0deg); }

.w-demo-logo-1 {
  -webkit-transform: rotate(90deg); }

.w-demo-logo-2 {
  -webkit-transform: rotate(180deg); }

.w-demo-logo-3 {
  -webkit-transform: rotate(270deg); }
