doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="renderer", content="webkit")
        title
            block title

        link(rel="stylesheet", href="{$cssDest}/color.css", type="text/css")


        block head
    body
        block body

        block script
            script(src="{$jsDest}/vendors.js")


