// + tpl
link(rel="stylesheet", href="./t-demo.scss", type="text/css", inline)

div.t-demo#tDemo

script(type="text/html")
    div.t-demo-s1
        div.t-demo-s2
            div.t-demo-s3

script(src="./t-demo.js", inline)
// - tpl
