doctype html
html
  head
    meta(charset="utf-8")
    title demo

  body
    // + body here
    img.just-img(src=require('./images/logo.png'))
    div.w-demo
      i#logo.w-demo-logo
      div#t.w-demo-tl
    // - body here

